Host ios
  HostName 192.168.1.43
  User jkunlin

Host mcqios
  HostName 192.168.1.43
  User mcq

Host citios
  HostName 192.168.1.43
  User cit

Host rn
  HostName 168.235.78.27
  User jkunlin
  Port 1707
  
Host dc
  HostName 192.168.2.30
  User jkunlin
  Port 3360

Host dell
  HostName 192.168.2.30
  User jkunlin
  Port 336

Host ios2
  HostName 192.168.1.180
  User sunsy

Host ios3
  HostName 192.168.1.181
  User sunsy

Host caisw
  HostName 192.168.20.16
  User caisw2020
