Host ios
  HostName 192.168.1.43
  User jkunlin

Host mcqios
  HostName 192.168.1.43
  User mcq

Host citios
  HostName 192.168.1.43
  User cit

Host rn
  HostName 168.235.78.27
  User jkunlin
  Port 1707
  
Host dc
  HostName 192.168.2.30
  User jkunlin
  Port 3360

Host dell
  HostName 192.168.2.30
  User jkunlin
  Port 336

Host ios2
  HostName 192.168.1.180
  User sunsy

Host ios3
  HostName 192.168.1.181
  User sunsy

Host caisw
  HostName 192.168.20.16
  User caisw2020

Host s1
	HostName 192.168.100.1
	User linjk

Host s2
	HostName 192.168.100.2
	User linjk

Host s3
	HostName 192.168.20.70
	User linjk

Host s4
	HostName 192.168.100.4
	User linjk

Host s5
	HostName 192.168.100.5
	User linjk

Host s6
	HostName 192.168.100.6
	User linjk

Host s7
	HostName 192.168.100.7
	User linjk

Host s8
	HostName 192.168.100.8
	User linjk

Host s9
	HostName 192.168.100.9
	User linjk

Host s100
	HostName 192.168.100.100
	User linjk

Host *
  ControlMaster auto
  ControlPath /tmp/ssh_mux_%h_%p_%r
  # Ciphers aes128-cbc
