Host s1
	HostName 192.168.100.1
	User linjk

Host s2
	HostName 192.168.100.2
	User linjk

Host s3
	HostName 192.168.100.3
	User linjk

Host s4
	HostName 192.168.100.4
	User linjk

Host s5
	HostName 192.168.100.5
	User linjk

Host s6
	HostName 192.168.100.6
	User linjk

Host s7
	HostName 192.168.100.7
	User linjk

Host s8
	HostName 192.168.100.8
	User linjk

Host s9
	HostName 192.168.100.9
	User linjk

Host s10
	HostName 192.168.100.10
	User linjk

Host pubuser
	HostName 192.168.100.10
	User pubuser

Host s11
	HostName 192.168.100.11
	User linjk

Host pubuser2
	HostName 192.168.100.11
	User pubuser2

Host s12
	HostName 192.168.100.12
	User linjk

Host s13
	HostName 192.168.100.13
	User linjk

Host s14
	HostName 192.168.100.14
	User linjk

Host s15
	HostName 192.168.100.15
	User linjk

Host s100
	HostName 192.168.100.100
	User linjk

Host optimizer
	HostName 192.168.100.100
	User optimizer

Host toptimizer
	HostName seed100
	User optimizer

Host ts100
	HostName seed100
	User linjk

Host root
	HostName 47.104.142.40
	User ecs-user	

Host gpt
	HostName 47.104.142.40
	User linjk

Host rn
	HostName 168.235.78.27
	User jkunlin
	Port 1708

Host sp
	HostName 103.163.186.90
	User root
	Port 1708

Host gt
  HostName 139.224.0.22
  User root
